In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
bn=pd.read_csv("Billionaire.csv")
print(bn)

                          Name NetWorth        Country         Source  Rank  \
0                   Jeff Bezos   $177 B  United States         Amazon     1
1                    Elon Musk   $151 B  United States  Tesla, SpaceX     2
2     Bernard Arnault & family   $150 B         France           LVMH     3
3                   Bill Gates   $124 B  United States      Microsoft     4
4              Mark Zuckerberg    $97 B  United States       Facebook     5
...                        ...      ...            ...            ...   ...
2750         Daniel Yong Zhang     $1 B          China     e-commerce  2674
2751             Zhang Yuqiang     $1 B          China     Fiberglass  2674
2752             Zhao Meiguang     $1 B          China    gold mining  2674
2753            Zhong Naixiong     $1 B          China   conglomerate  2674
2754           Zhou Wei family     $1 B          China       Software  2674

       Age          Industry
0     57.0        Technology
1     49.0        Automotive
2     72.0  Fashion & Retail
3     65.0        Technology
4     36.0        Technology
...    ...               ...
2750  49.0        Technology
2751  65.0     Manufacturing
2752  58.0   Metals & Mining
2753  58.0       Diversified
2754  54.0        Technology

[2755 rows x 7 columns]

In [9]:
US=bn[bn["Country"]=="United States"]
print(US)

                       Name NetWorth        Country              Source  Rank  \
0                Jeff Bezos   $177 B  United States              Amazon     1
1                 Elon Musk   $151 B  United States       Tesla, SpaceX     2
3                Bill Gates   $124 B  United States           Microsoft     4
4           Mark Zuckerberg    $97 B  United States            Facebook     5
5            Warren Buffett    $96 B  United States  Berkshire Hathaway     6
...                     ...      ...            ...                 ...   ...
2732             Vlad Tenev     $1 B  United States       stock trading  2674
2739  Vlad Vendrow & family     $1 B  United States            software  2674
2742        J. Wayne Weaver     $1 B  United States               Shoes  2674
2743            Sandy Weill     $1 B  United States           Citigroup  2674
2749             Yu De-Chao     $1 B  United States     pharmaceuticals  2674

       Age               Industry
0     57.0             Technology
1     49.0             Automotive
3     65.0             Technology
4     36.0             Technology
5     90.0  Finance & Investments
...    ...                    ...
2732  34.0  Finance & Investments
2739  53.0             Technology
2742  85.0            Diversified
2743  88.0  Finance & Investments
2749  57.0             Healthcare

[724 rows x 7 columns]

In [10]:
US[US["Age"]<=50]

,Name,NetWorth,Country,Source,Rank,Age,Industry
1,Elon Musk,$151 B,United States,"Tesla, SpaceX",2,49.0,Automotive
4,Mark Zuckerberg,$97 B,United States,Facebook,5,36.0,Technology
7,Larry Page,$91.5 B,United States,Google,8,48.0,Technology
8,Sergey Brin,$89 B,United States,Google,9,47.0,Technology
21,MacKenzie Scott,$53 B,United States,Amazon,22,50.0,Technology
...,...,...,...,...,...,...,...
2675,Baiju Bhatt,$1 B,United States,stock trading app,2674,36.0,Finance & Investments
2681,GT Dave,$1 B,United States,kombucha,2674,44.0,Food & Beverage
2700,Kim Kardashian West,$1 B,United States,"cosmetics, reality TV",2674,40.0,Fashion & Retail
2702,Bom Kim,$1 B,United States,online retailing,2674,42.0,Technology
2732,Vlad Tenev,$1 B,United States,stock trading,2674,34.0,Finance & Investments