In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [12]:
HR=pd.read_csv("Homelessness Report .csv")
print(HR)

       Region Total Adults Male Adults Female Adults  Adults Aged 18-24  \
0      Dublin        4,287       2,776         1,511                708
1    Mid-East          318         205           113                 51
2    Midlands           91          60            31                 21
3    Mid-West          299         203            96                 31
4  North-East           75          59            16                  5
5  North-West           74          51            23                 14
6  South-East          193         137            56                 29
7  South-West          512         361           151                 65
8        West          282         166           116                 65

  Adults Aged 25-44 Adults Aged 45-64  Adults Aged 65+  \
0             2,374             1,141               64
1               162                96                9
2                49                18                3
3               169                93                6
4                44                21                5
5                38                21                1
6               110                48                6
7               283               145               19
8               128                74               15

  Number of people who accessed Private Emergency Accommodation  \
0                                              2,329
1                                                192
2                                                 65
3                                                 28
4                                                 12
5                                                 27
6                                                 53
7                                                339
8                                                160

  Number of people who accessed Supported Temporary Accommodation  \
0                                              1,997
1                                                112
2                                                  0
3                                                240
4                                                 54
5                                                 32
6                                                140
7                                                179
8                                                122

   Number of people who accessed Temporary Emergency Accommodation  \
0                                                 39
1                                                  3
2                                                 26
3                                                 31
4                                                  8
5                                                 15
6                                                  0
7                                                  0
8                                                  0

   Number of people who accessed Other Accommodation  Number of Families  \
0                                                  0                 752
1                                                 11                  52
2                                                  0                   6
3                                                  0                  32
4                                                  1                   9
5                                                  0                   8
6                                                  0                  18
7                                                  0                  60
8                                                  0                  68

  Number of Adults in Families Number of Child Dependants in Families
0                        1,268                                  1,806
1                           84                                    104
2                            7                                     11
3                           44                                     52
4                           11                                     20
5                            9                                     12
6                           24                                     39
7                           76                                    122
8                          104                                    178

In [22]:
HR["Adults Aged 18-24"].describe()

count      9.000000
mean     109.888889
std      225.305040
min        5.000000
25%       21.000000
50%       31.000000
75%       65.000000
max      708.000000
Name: Adults Aged 18-24, dtype: float64

In [14]:
Hag=pd.read_csv("Housing Adaption Grant .csv")
print(Hag)

                   Local Authority  Number of payments 2014  \
0            Carlow County Council                       73
1             Cavan County Council                       48
2             Clare County Council                       84
3              Cork County Council                      113
4           Donegal County Council                       11
5   Dun L.-Rathdown County Council                       18
6            Fingal County Council                       37
7            Galway County Council                       87
8             Kerry County Council                      118
9           Kildare County Council                       12
10         Kilkenny County Council                       52
11            Laois County Council                       63
12          Leitrim County Council                       17
13        Limerick City and County                      180
14         Longford County Council                       53
15            Louth County Council                        0
16             Mayo County Council                      192
17            Meath County Council                       27
18         Monaghan County Council                       67
19           Offaly County Council                        7
20        Roscommon County Council                        0
21            Sligo County Council                       26
22     South Dublin County Council                      101
23        Tipperary County Council                       62
24      Waterford  City and County                       82
25        Westmeath County Council                       32
26          Wexford County Council                       54
27          Wicklow County Council                       35
28               Cork City Council                       10
29             Dublin City Council                       43
30             Galway City Council                       17

    Value of payments â‚¬ 2014  Number of payments 2015  \
0                     275248                       54
1                     191647                       49
2                     264895                       82
3                     452648                      129
4                      11160                       12
5                      50209                       31
6                     116797                       38
7                     209798                       95
8                     399364                      150
9                      45022                       23
10                    217235                       35
11                    178004                       59
12                     39505                       13
13                    593531                      168
14                    137737                       63
15                         0                        0
16                    417854                      198
17                    109875                       57
18                    259413                       52
19                     20233                        9
20                         0                        0
21                     61290                       33
22                    362839                       58
23                    238245                       55
24                    339768                      116
25                     81311                       22
26                    174052                      103
27                     97079                       70
28                     35424                        6
29                    143058                       71
30                     46252                       18

    Value of payments â‚¬ 2015  Number of payments 2016  \
0                     227410                       62
1                     215487                       38
2                     287003                       76
3                     532430                      159
4                      13800                       15
5                     110730                       35
6                     112746                       37
7                     250418                       87
8                     483797                      141
9                      94196                        0
10                    142250                       36
11                    174368                       83
12                     30968                       13
13                    552447                      180
14                    149788                       46
15                         0                        5
16                    425774                      167
17                    221578                       58
18                    189053                       31
19                     27613                        9
20                         0                        0
21                     96381                       36
22                    203480                       55
23                    225525                       52
24                    471588                      122
25                     64160                       33
26                    386325                      133
27                    278179                       48
28                     23254                       11
29                    246630                       87
30                     46468                       16

    Value of payments â‚¬ 2016  Number of payments 2017  \
0                   258100.0                       73
1                   156196.0                       47
2                   275923.0                      134
3                   603265.0                      161
4                    30939.0                       20
5                   135975.0                       18
6                   129020.0                       16
7                   244149.0                      107
8                   514166.0                      157
9                        NaN                        6
10                  146192.0                       25
11                  239000.0                      101
12                   29610.0                        7
13                  603161.0                      188
14                  135182.0                       66
15                   20740.0                        0
16                  363001.0                      148
17                  243991.0                       66
18                  145736.0                       49
19                   27720.0                       23
20                       0.0                        0
21                  115482.0                       35
22                  215753.0                       59
23                  205930.0                       54
24                  493040.0                      105
25                  106000.0                       56
26                  519701.0                      160
27                  167872.0                       75
28                   48738.0                        6
29                  323398.0                       88
30                   49622.0                       23

    Value of payments â‚¬ 2017  Number of payments 2018  \
0                     287404                       67
1                     203542                       55
2                     463939                      125
3                     622752                      124
4                      51384                       24
5                      45833                        5
6                      47091                       35
7                     295716                      129
8                     597756                      239
9                      18750                        0
10                    100078                       25
11                    319462                       84
12                     15812                        9
13                    627058                      153
14                    183243                       63
15                         0                       24
16                    359380                      184
17                    294273                       87
18                    177823                       48
19                     99437                       21
20                         0                        0
21                    116498                       64
22                    180951                       41
23                    206160                       42
24                    413432                       92
25                    178348                       51
26                    638414                      180
27                    322038                       57
28                     23696                        8
29                    321178                       88
30                     83835                       27

    Value of payments â‚¬ 2018  Number of payments 2019  \
0                     262914                       34
1                     240862                       28
2                     434808                      139
3                     497735                      128
4                      53891                       36
5                      13728                       22
6                     106672                       25
7                     335196                      134
8                     909753                      275
9                          0                        0
10                    105678                       17
11                    251704                       97
12                     27835                        6
13                    553900                      164
14                    194595                       50
15                     85602                       18
16                    443931                      165
17                    362492                       76
18                    185709                       46
19                     98318                       19
20                         0                        1
21                    241397                       50
22                    106676                       43
23                    189697                       32
24                    378400                      112
25                    164950                       44
26                    742093                      157
27                    206660                       62
28                     32607                        9
29                    282437                      109
30                     91114                       13

    Value of payments â‚¬ 2019  Number of payments 2020  \
0                     127937                       45
1                     130487                       18
2                     508510                      114
3                     529868                       70
4                     105249                       70
5                      74176                       25
6                      74541                       31
7                     388124                       92
8                    1076713                      184
9                          0                        0
10                     68553                       34
11                    283320                       64
12                     18584                       17
13                    606274                      126
14                    150092                       42
15                     61184                       41
16                    429014                      115
17                    322491                       52
18                    188731                       41
19                     90452                       16
20                      4020                       29
21                    202294                       36
22                    109491                       24
23                    143759                       28
24                    468781                       63
25                    144214                       38
26                    651639                       97
27                    230814                       36
28                     31130                       14
29                    341296                      102
30                     31946                       18

    Value of payments â‚¬ 2020
0                     182440
1                      79286
2                     413458
3                     269613
4                     219939
5                      81167
6                      92218
7                     282696
8                     703798
9                          0
10                    108396
11                    184632
12                     44957
13                    495294
14                    118633
15                    104847
16                    340799
17                    215918
18                    172469
19                     66286
20                    116843
21                    142214
22                     60192
23                     91018
24                    281848
25                    133536
26                    393506
27                    142265
28                     61093
29                    313166
30                     47870

In [15]:
kn=pd.read_excel("knowledge.xlsx")
print(kn)

                 Education  Year  Knowledge of female circumcision  \
0  Primary or No education  2003                              41.1
1  Primary or No education  2008                              48.9
2  Primary or No education  2013                              64.9
3  Primary or No education  2018                              57.4
4      Secondary or higher  2003                              73.8
5      Secondary or higher  2008                              76.3
6      Secondary or higher  2013                              70.7
7      Secondary or higher  2018                              64.1

   Prevalence of female circumcised  Unnamed: 4
0                              13.1         NaN
1                              24.3         NaN
2                              21.5         NaN
3                              19.5         NaN
4                              28.9         NaN
5                              36.2         NaN
6                              28.8         NaN
7                              19.4         NaN

In [16]:
vl=pd.read_csv("violence.csv")
print(vl)

             Location  Domestic Violence  Rape  Sexual Abuse  Defilement
0     Warri / Effurun                 50    10            32          30
1  Asaba and Environs                 40    15            28          20
2             Ughelli                 20     5             8          31
3                Oleh                 10     0             0           7

In [17]:
rp=pd.read_csv("rape-incidence.csv")
print(rp)

    Year            Place of Rape     Age Group     F    M  Total     %F
0   2015                     Home  17 and under   485   54    539  89.98
1   2015                     Home         18-27   262  178    440  59.55
2   2015                     Home    28 & above    60  156    216  27.78
3   2015                     Home   Sub - Total   807  388   1195  67.53
4   2015                   School  17 and under    61   14     75  81.33
5   2015                   School         18-27   238  214    452  52.65
6   2015                   School    28 & above     3   31     34   8.82
7   2015                   School   Sub - Total   302  259    561  53.83
8   2015                   Others  17 and under   109   38    147  74.15
9   2015                   Others         18-27    56   70    126  44.44
10  2015                   Others    28 & above    77   37    114  67.54
11  2015                   Others   Sub - Total   242  145    387  62.53
12  2015  National Rape Incidence         Total  1351  792   2143  63.04
13  2016                     Home  17 and under   595   62    657  90.56
14  2016                     Home         18-27   326  100    426  76.53
15  2016                     Home    28 & above   124  155    279  44.44
16  2016                     Home   Sub - Total  1045  317   1362  76.73
17  2016                   School  17 and under   230  105    335  68.66
18  2016                   School         18-27    14   65     79  17.72
19  2016                   School    28 & above     9   22     31  29.03
20  2016                   School   Sub - Total   253  192    445  56.85
21  2016                   Others  17 and under   113   38    151  74.83
22  2016                   Others         18-27   206   44    250  82.40
23  2016                   Others    28 & above   117   79    196  59.69
24  2016                   Others   Sub - Total   436  161    597  73.03
25  2016  National Rape Incidence         Total  1734  670   2404  72.13
26  2017                     Home  17 and under   220   41    261  84.29
27  2017                     Home         18-27    94   27    121  77.69
28  2017                     Home    28 & above    59   97    156  37.82
29  2017                     Home   Sub - Total   373  165    538  69.33
30  2017                   School  17 and under   167    2    169  98.82
31  2017                   School         18-27    10    8     18  55.56
32  2017                   School    28 & above     6    3      9  66.67
33  2017                   School   Sub - Total   183   13    196  93.37
34  2017                   Others  17 and under    60   19     79  75.95
35  2017                   Others         18-27    30   94    124  24.19
36  2017                   Others    28 & above    84   32    116  72.41
37  2017                   Others   Sub - Total   174  145    319  54.55
38  2017  National Rape Incidence         Total   730  323   1053  69.33

In [18]:
pr=pd.read_csv("wanadata-worksheet-sexual-offences-pg-49-pdf.csv")
print(pr)

     Year  Type of Offence        M        F    F%
0    2013              Debt     618       28  4.33
1    2013             Arson     685       14     2
2    2013            Affray    1000       12  1.19
3    2013           Assault    8301      681  7.58
4    2013            Murder    6852      320  4.46
..    ...               ...     ...      ...   ...
119  2016    Cultism/Ritual     401        2   0.5
120  2016   Breach of peace     948       26  2.67
121  2016     Other Offence   25942     1442  5.27
122  2016             Total   36481     6367  4.46
123  2016  Total calculated  136384  6365.83   NaN

[124 rows x 5 columns]